*{color: white;
background-color: black;
font-family: 'Times New Roman', Times, serif;
border: 0px solid white;}
#subjects {
    text-align: center;
    list-style-position: inside;
    padding: 5px;
}
div {
    border-width: 5px;
    margin: 1px 30% -1px;
}
ul{
    display: inline-block;
    text-align: left;
    
}
h3{
    margin:0px 40% 0px;
    padding: 5px;
    border-bottom-width: 2px;
    border-style: dashed;
}